<nav
      id="navbar-profile"
      class="navbar navbar-expand-lg navbar-light bg-secondary"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">🍽</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="color: #ffffff" aria-current="page" href="/">Efood</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff" href="/favorites">Favorites</a>
            </li>

          </ul>
          <form class="d-flex" style="color: #ffffff" action="/search" method="post">
            <input
              class="form-control me-2"
              type="search"
              name="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-success searchBar"
              type="submit"
            >Search</button>
          </form>
        </div>
      </div>
    </nav>
{{#each showFavorites}}
<div class="d-inline-flex p-2">
<div class="card" style="width: 18rem;">
  <div class="d-flex justify-content-center">
<h4 class="card-title">{{this.name}}</h4>
</div>
  <img src="{{this.image}}" class="card-img-top" alt="Image">
  <div class="card-body">
    <div class="d-flex justify-content-center">
    <a href="{{this.url}}" class="btn btn-success">See your recipe</a>
    </div>
  </div>
</div>
</div>

    {{/each}}