<nav
  id="navbar-profile"
  class="navbar navbar-expand-lg navbar-light bg-secondary"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/profile">🍽</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"style="color: #ffffff" aria-current="page" href="/">Efood</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"style="color: #ffffff" href="/profile">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff"href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff" href="/vegan">Vegan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff" href="/vegetarian">Vegetarian</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: #ffffff" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meal types
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/breakfast">Breakfast</a></li>
            <li><a class="dropdown-item" href="/lunch">Lunch</a></li>
            <li><a class="dropdown-item" href="/dinner">Dinner</a></li>
            <li><a class="dropdown-item" href="/snack">Snack</a></li>
            <li><a class="dropdown-item" href="/teatime">Teatime</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" action="/search" method="post">
        <input
          class="form-control me-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-success searchBar" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="col d-flex justify-content-center">
<h1>French Recipes :</h1>
</div>
{{#each apiPath}}
<div class="col d-flex justify-content-center">
<div class="card mb-3 cardbody" style="max-width: 540px;">
  <div class="row g-0 customrow">
    <div class="col-md-4">
      <img src="{{this.recipe.image}}" class="rounded-start cardimage" alt="recipe image">
    </div>
    <div class="col-md-8">
      <div class="card-body customcardbody">
        <h5 class="card-title">{{this.recipe.label}}</h5>
        <h5 class="card-title">Ingredients</h5>
        {{#each this.recipe.ingredients}}
        <p class="card-text">-{{this.text}}</p>
        {{/each}}
        </div>
        </div>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center">
    <h5>For more specific information :</h5>
</div>
<div class="col d-flex justify-content-center">
    <a href="{{this.recipe.url}}"><button type="button" class="btn btn-success">More Information</button></a>
  </div>
{{/each}}
