<div class="backgroundLog">
<div class="container  bg-secondary p-2 text-dark bg-opacity-75 loginform log" style="margin-top: 15%;">
<form action="/login" method="post">
  <div class="mb-3">
    <label style="color: #ffffff" for="exampleInputEmail1" class="form-label">Your Username</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your username">
    </div>
  <div class="mb-3">
    <label style="color: #ffffff" for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
  </div>
  <div class="infoLog"><a href="/signup">Don't have an account ? Sign up</a></div>
<div class="col d-flex justify-content-center">
  
  <a href="/login"> <button type="submit" class="btn btn-success">Login</button></a>

</div>
</div>