<nav id="navbar-profile"class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">🍽</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Efood</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Random Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favourites</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<img src="/images/healthy-food.jpg" class="img-fluid" alt="Healthy-food">
<h1>Recommendations</h1>
<div class="card-profile">
<div class="card" style="width: 18rem;">
  <img src="/images/carbonara.jpg" class="card-img-top" alt="Carbonara img">
  <div class="card-body">
    <h5 class="card-title">Carbonara</h5>
    <p class="card-text">Discover how to prepare Carbonara!</p>
    <a href="#" class="btn btn-success">Check Recipe</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/images/crepes.jpg" class="card-img-top" alt="Crepes img">
  <div class="card-body">
    <h5 class="card-title">Crepes</h5>
    <p class="card-text">Discover how to prepare Crepes!</p>
    <a href="#" class="btn btn-success">Check Recipe</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/images/lasagna.jpg" class="card-img-top" alt="Lasagna img">
  <div class="card-body">
    <h5 class="card-title">Lasagna</h5>
    <p class="card-text">Discover how to prepare Lasagna!</p>
    <a href="#" class="btn btn-success">Check Recipe</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/images/omelette.jpg" class="card-img-top" alt="Omelette img">
  <div class="card-body">
    <h5 class="card-title">Omelette</h5>
    <p class="card-text">Discover how to prepare Omelette!</p>
    <a href="#" class="btn btn-success">Check Recipe</a>
  </div>
</div>
</div>
<form action="/logout" method="post">
<button type="submit">Logout</button>
</form>