<img src="/images/healthy-food.jpg" class="img-fluid" alt="Healthy-food">
<h1>Sort by countries</h1>
  <form action="/usa" method="post"><button type="submit" name="usa" ><img src="/images/usaFlag.png" alt="Usa Flag" class="flags"  ></button>USA</form>
  
  <form action="/indian" method="post"><button type="submit"><img src="/images/idianFlag.png" alt="Indian Flag" class="flags"></button></form>

  <form action="/italian" method="post"><button type="submit"><img src="/images/italieFlag.png" alt="Italian Flag" class="flags" ></button></form>

  <form action="/mexican" method="post"><button type="submit"><img src="/images/mexican.png" alt="Mexican Flag" class="flags"></button></form>
<div class="d-flex justify-content-center">

<form action="/logout" method="post">
<button class="btn btn-primary" type="submit">Logout</button>
</form>
</div>