<nav
  id="navbar-profile"
  class="navbar navbar-expand-lg navbar-light bg-secondary"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/profile">🍽</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"style="color: #ffffff" href="/profile">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff"href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff" href="/vegan">Vegan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff" href="/vegetarian">Vegetarian</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: #ffffff" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meal types
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/breakfast">Breakfast</a></li>
            <li><a class="dropdown-item" href="/lunch">Lunch</a></li>
            <li><a class="dropdown-item" href="/dinner">Dinner</a></li>
            <li><a class="dropdown-item" href="/snack">Snack</a></li>
            <li><a class="dropdown-item" href="/teatime">Teatime</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" action="/search" method="post">
        <input
          class="form-control me-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-success searchBar" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<img src="/images/healthy-food.jpg" class="img-fluid" alt="Healthy-food">
<div class="d-flex justify-content-center">
<h2>Click a Flag to discover all the typical recipes of the country!</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/usa" method="post"><button type="submit" name="usa" ><img src="/images/usaFlag.png" alt="Usa Flag" class="flags"  ></button></form>
    </div>
    <div class="col">
      <form action="/indian" method="post"><button type="submit"><img src="/images/idianFlag.png" alt="Indian Flag" class="flags"></button></form>
    </div>
    <div class="col">
      <form action="/italian" method="post"><button type="submit"><img src="/images/italieFlag.png" alt="Italian Flag" class="flags" ></button></form>
    </div>
    <div class="col">
      <form action="/mexican" method="post"><button type="submit"><img src="/images/mexican.png" alt="Mexican Flag" class="flags"></button></form>
    </div>
    <div class="col">
      <form action="/japanese" method="post"><button type="submit"><img src="/images/japan.png" alt="Japanese Flag" class="flags"></button></form>
    </div>
    <div class="col">
      <form action="/french" method="post"><button type="submit"><img src="/images/french.png" alt="French Flag" class="flags"></button></form>
    </div>
    <div class="col">
      <form action="/chinese" method="post"><button type="submit"><img src="/images/chinese.png" alt="Chinese Flag" class="flags"></button></form>
    </div>
    <div class="col">
      <form action="/british" method="post"><button type="submit"><img src="/images/british.png" alt="British Flag" class="flags"></button></form>
    </div>
    <div class="col">
</div>
  </div>
</div>
<div class="d-flex justify-content-center">
<form action="/logout" method="post">
<button class="btn btn-success" type="submit">Logout</button>
</form>
</div>