<img src="/images/healthy-food.jpg" class="img-fluid" alt="Healthy-food">
<h1>Sort by countries</h1>
<div>
  <form action="/usa" method="POST"><button type="submit"><img src="/images/usaFlag.png" alt="Usa Flag" class="flags"  ></button></form>
  
  <form action="/indian" method="POST"><a href="/indian"><img src="/images/idianFlag.png" alt="Indian Flag" class="flags"></a></form>

  <form action="/italien" method="POST"><a href="/italien"><img src="/images/italieFlag.png" alt="Usa Flag" class="flags"  ></a></form>

  <form action="/mexican" method="POST">    <a href="/mexican"><img src="/images/mexican.png" alt="Mexican Flag" class="flags"></a></form>
</div>

<form action="/logout" method="post">
<button type="submit">Logout</button>
</form>