{{#each ApiValues}}
<!-- Iterate over the api -->
    <h1>{{this.recipe.label}} </h1>
    <img src="{{this.recipe.image}}" alt="recipe image">
    {{#each this.recipe.ingredients}}
<p>{{this.text}}</p>
{{/each}}    
{{/each}}