body {
  margin: 0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.logo {
  display: block;
  flex-direction: row;
  align-items: flex-start;
}
.card-profile {
  display: flex;
}
.background {
  background-image: url("/images/background.jpg");
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.flags {
  width: 200px;
  height: 100px;
  margin: 35px;
}

.cardimage{
  height:100%;
  width:100%;
  object-fit:cover;
  /* object-position: 50%; */
}
.customcardbody{
  max-height:300px;
  overflow-y:auto; 
  margin-bottom:10px;
  text-overflow:ellipsis;
}
.customrow{
  margin-bottom:0px;
}
.customcardbody::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.customcardbody::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.customcardbody::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: gray;
}
.cardbody{margin-top:100px;}
